*{
    margin: 0px;
    padding: 0px;
}
body{
        width: 1000px;
        margin: 0 auto;
        font-family: tahoma;
       
}
.fix{
    overflow: hidden;
    display: block;
}

.menu{
    width: 700px;
    float: left;
    
}
.menu ul{
    height: 40px;
    background:#0F0F0F;
    width: 450px;
    list-style: none;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    border: 1px solid brown;
    padding: 1px;
}
.menu ul li{
    float: left;
    border-right: 2px solid white;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color:#C8C8C8;
}
.menu ul li a:hover{
    background-color:black;
}

/****** dropdown menu******/

.header_area{
    height: 100px;
}

.menu ul li {
    position: relative;
}
.menu ul li ul{ 
    width: 100px;
    position: absolute;
    left: 0px;
    top: 20px;
}
.menu ul li ul li {
    float: none;
    border-right: none;
    border-bottom: 2px solid rgb(2, 1, 1);
    background: #fff;
}
.menu ul ul{
    display: none;
}
.menu ul li:hover > ul{
    display: block;
}
.header_area{
    background:#000000;
    border-bottom:5px solid #cad315;
}
.logo{width: 260px;
      float: left;
      color: white; 
      padding: 20px;
       
}
.logo h1 {
    font-size: 25px;
    font-family: tahoma;
    color: whitesmoke;

}
.logo p{
    font-size: 15px;
    color:#C8C8C8;
}


.slider_area{
    background-color: #494547;
    padding: 20px;
}
.slider_image{
    width: 480px;
    float: left;
}
.slider_image img{
    border: 10px solid #E0DFE0;
    box-shadow: 5px 5px 10px black;
}
.slider_text{
    width: 480px;
    float: left;
}
.slider_text h1{
    color: whitesmoke;
    font-size: 35px;
}
.slider_text p{
    color: rgb(177, 177, 177);
    font-size: 20px; 
    margin-top: 20px;
}
.slider_text a{
    display: block;
    width: 90px;
    padding: 10px;
    background: rgb(176, 230, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

.contact_area{padding: 10px;}
.content{width: 680px;float: left; padding: 10px;}
.single_content{
    background-color: cornsilk;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgb(192, 7, 7);
    border-radius: 10px;
}
.single_content h1{
    border-bottom: 4px solid green;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 35px;
}
.single_content p{
    font-size: 17px;
    background:cornsilk ;
}
.single_content a{ display: block;
    width: 90px;
    padding: 10px;
    background: rgb(223, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-weight: bold;}

.slidebar_area{width: 280px; float: left;}
.slidebar_head{background: rgb(42, 42, 42);}
.slidebar_head h1{
    color: cornsilk;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px;
 }
.slidebar{background: #eeeeee;}
.slider ul{}
.slidebar ul li{}
.slidebar ul li:nth-child(even){
    background: #c3c3c3;
}
.slidebar ul li a{
    text-decoration: none;
    padding: 10px 40px;
    display: block;
}
.slidebar ul li a:hover{
    background: white;
}


.footer_area{background-color: rgb(41, 36, 36);
padding: 5px;}
.copy_footer{width: 490px;
    float: left;
    color: coral;
    margin-top: 10px;
    margin-left: 10px;
}
.footer_dev{width: 490px;
float: left;
text-align: right;
color: rgb(223, 219, 0);}
.footer_dev a{
    color:rgb(147, 255, 59) ;
    text-decoration: none;
    margin-top: 10px;
}
.footer_dev a:hover{
    text-decoration: underline;}